In [3]:
import pandas as pd
from pathlib import Path
import fuzzymatcher
bank_statement = pd.read_csv('bank_statement.csv')
checkout = pd.read_csv('checkout.csv')

In [4]:
bank_statement.head()

   stmt_id  stmt_amount                                               desc
0        1       100.00  INSTANT TRANSFER    BAW CGANBAWI YIWHI * LEZC ...
1        2        23.77                              WOOG CARIZA NIWSI YO
2        3        18.00  ZOMAZAW MABIX ATMA *  BUGW * KZBUGW - TRANSFER...
3        4        21.87  TRANSFER GO LA/FA   AHHA PUYIMA        * YEBF ...
4        5        53.68  INSTANT TRANSFER    FABZUN WIQAT JIW FA* TEGF ...

In [5]:
checkout.head()

   ckt_id  ckt_amount                               buyer_name
0       1       20.00                        SAVMUEJICE EPHOCP
1       2       14.91  LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2       3       13.20                              SUQ UNAISIE
3       4       36.90                  GOZK BIHKAUT LIV LATAPI
4       7       26.29         HUY ZABIRAN HATIZAN WIHMI IRYIZ

In [6]:
left_on = ["stmt_id","stmt_amount"]
right_on = ["ckt_id","ckt_amount"]

In [ ]:
matched_results = fuzzymatcher.fuzzy_left_join(bank_statement,
                                               checkout,
                                               left_on,
                                               right_on,
                                               left_id_col="stmt_id",
                                               right_id_col="ckt_id")

In [ ]:
matched_results.head()

In [ ]:
cols = ["kecocokan","stmt_id","ckt_id","stmt_amount","ckt_amount"]
matched_results[cols].sort_values(by=['kecocokan'], ascending=False).head()

In [ ]:
matched_results[cols].sort_values(by=['kecocokan'], ascending=True).head()