In [15]:
#load library
import pandas as pd
import numpy as np

In [3]:
#load dataset
order = pd.read_csv('association_order.csv')
rules = pd.read_csv('rules.csv')

In [4]:
order.head()

          orderid      itemid
0  31379820545759   719740607
1  31378575577269  1825360194
2  31369591568249  1108903291
3  31369836201769  4507360843
4  31372360246729  1821888475

In [5]:
rules.head()

                    rule
0     100242812>80361758
1     100242812>89031406
2  1003153762>1016449477
3  1006024995>2727415265
4   1006024995>866012366

In [6]:
order.shape

(423861, 2)

In [7]:
rules.head

<bound method NDFrame.head of                         rule
0         100242812>80361758
1         100242812>89031406
2      1003153762>1016449477
3      1006024995>2727415265
4       1006024995>866012366
...                      ...
14233   995073047>3202007524
14234    995073047>651958908
14235   995073047>7902698606
14236    995073047>922394800
14237    995073047>991988255

[14238 rows x 1 columns]>

In [9]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423861 entries, 0 to 423860
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   orderid  423861 non-null  int64
 1   itemid   423861 non-null  int64
dtypes: int64(2)
memory usage: 6.5 MB

In [10]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14238 entries, 0 to 14237
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rule    14238 non-null  object
dtypes: object(1)
memory usage: 111.4+ KB

In [11]:
order.isnull().sum()

orderid    0
itemid     0
dtype: int64

In [12]:
rules.isnull().sum()

rule    0
dtype: int64

In [36]:
#menentukan confidence antar produk
#confidence antara 2 product

# A > B = A & B / A

#confidence antara 3 product

#case 1 

#A > B & C = A,B,C / A

#A&B > C = A,B,C / A & B

#menggunakana algoritma apriori

import mlxtend
from apyori import apriori

In [41]:
# Preprocessing
transaksi = []
for i in range(0, len(order)):
    transaksi.append([str(item) for item in order.values[i,:] if str(item)!='nan'])

In [42]:
from apyori import apriori
batasan = apriori(transaksi, min_support = 0.004, min_confidence = 0.25, min_lift = 4, min_length = 2)

In [43]:
hasil = list(batasan)
analisis_hasil = []
for i in range(0, len(hasil)):
    analisis_hasil.append('RULE:\t{}\nSUPP:\t{}\nCONF:\t{}\nLIFT:\t{}\n'.format(list(hasil[i][0]), str(hasil[i][1]), str(hasil[i][2][0][2]), str(hasil[i][2][0][3])))

In [44]:
print(analisis_hasil)

[]